<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>LSUIElement</key>
	<true/>
	<key>CFBundleDisplayName</key>
	<string>TinyFire</string>
	<key>SUFeedURL</key>
	<string>https://tinyfire.createfun.ai/appcast.xml</string>
	<key>SUPublicEDKey</key>
	<string>3jvJJLbB67g3lB8SU2fZxB7rQpA3Qc4nm7neAexBhpw=</string>
	<key>SUEnableAutomaticChecks</key>
	<true/>
	<key>SUScheduledCheckInterval</key>
	<integer>86400</integer>
	<key>SUAllowsAutomaticUpdates</key>
	<true/>
</dict>
</plist>
